form div.ccaContent * 
{
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Muli';
  font-weight: inherit;
  font-style: inherit;
  font-variant: normal;
  letter-spacing: .025em;
  line-height: 1.5em;
  color: #333333;
}

form div.ccaContent
{
  font-weight: 500;
  font-style: normal;
}

form div.ccaContent strong { font-weight: bold;}
form div.ccaContent em { font-style: italic;}

form div.ccaContent a
{
  color: #0000FF;
  text-decoration: none;
}

form div.ccaContent a:hover
{
  color: #0000FF;
  text-decoration: underline;
}

form div.ccaContent .ccaH1
{
  font-size: 2em;
  padding: .5em 0em;
}

form div.ccaContent .ccaH2
{
  font-size: 1.786em;
  padding: 1em 0em;
}

form div.ccaContent .ccaH2 span
{
  font-size: 1em;
}

form div.ccaContent .ccaH3
{
  font-size: 1.43em;
  padding: 1em 0em;
}

form div.ccaContent .ccaButtonHighlight
{
  background: #515052;
  color: #FFFFFF;  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: .5em .8em;
  margin: .5em;
  font-size: 1em;
  border: 1px solid #393839;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

form div.ccaContent .ccaButtonHighlight:hover
{
  text-decoration: none;
  color: #FFFFFF;
  background: #515052;
}

form div.ccaContent .ccaButtonStandard
{
  background: #F2F2F2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: .5em .8em;
  margin: .5em;
  font-size: 1em;
  border: 1px solid #999999;
  text-decoration: none;
  color: #333333;
  white-space: nowrap;
  cursor: pointer;
}

form div.ccaContent .ccaButtonStandard:hover
{
  text-decoration: none;
  color: #333333;
  background: #E1E1E1;
}

form div.ccaContent span.ccaLabel
{
  display: inline-block;
  padding: .25em;
  margin: .25em;
  font-size: 1em;
}

form div.ccaContent input.ccaInputText
{ 
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: .25em .5em;
  margin: .5em;
  font-size: 1em;
  border: 1px solid #DEDEDE;
}

form div.ccaContent textarea.ccaInputText
{ 
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: .25em .5em;
  margin: .5em;
  font-size: 1em;
  border: 1px solid #DEDEDE;
}

form div.ccaContent select.ccaInputSelect
{ 
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: .25em .5em;
  margin: .5em;
  font-size: 1em;
  border: 1px solid #DEDEDE;
}

form div.ccaContent .ccaInputCheckbox input
{ 
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: .25em .5em;
  margin: .5em;
  font-size: 1em;
  border: 1px solid #DEDEDE;
}

form div.ccaContent .ccaInputCheckbox label
{ 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

form div.ccaContent .ccaInputRichText
{
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: .5em;
  font-size: 1em;
  border: 1px solid #DEDEDE;
}

form div.ccaContent .ccaRadioButton input
{
  margin-left: .5em;
}

form div.ccaContent .ccaRadioButton label
{
  padding-left: .5em;
}

form div.ccaContent p.ccaSectionHeader
{
  display: block;
  background: #FAFAFA; /* Old browsers */ 
  background: -webkit-linear-gradient(#FAFAFA,#E1E1E1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FAFAFA,#E1E1E1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FAFAFA,#E1E1E1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FAFAFA,#E1E1E1); /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#E1E1E1',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding: .25em .5em;
  margin: .5em;
  font-size: 1.43em;
  border: 1px solid #DEDEDE;
}

form div.ccaContent span.ccaFootnote
{
  display: inline-block;
  padding: .25em;
  margin: .25em;
  font-size: .857em;
}

form div.ccaContent span.ccaFootnote a
{
  font-size: 1em;
}

form div.ccaContent .ccaAlert
{
  display: block; 
  background: #EEEEEE;
  color: #666666;
  padding: 1.25em;
}

form div.ccaContent a.ccaRoundButton 
{
  display:inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border: 2px solid #f5f5f5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align:center;
  text-decoration:none;
  background: #FAFAFA; /* Old browsers */ 
  background: -webkit-linear-gradient(#FAFAFA,#E1E1E1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FAFAFA,#E1E1E1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FAFAFA,#E1E1E1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FAFAFA,#E1E1E1); /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#E1E1E1',GradientType=0 ); /* IE6-9 */  
  box-shadow: 0 0 3px gray;
  font-size: 1em;
}

form div.ccaContent a.ccaRoundButton:hover 
{
  background: #E1E1E1;
}

form div.ccaContent .ccaReqFieldIndicator
{
  vertical-align: top;
}

form div.ccaContent .ccaValidationSummary li
{
  color: #FF0000;
  list-style-type: disc;
  margin-left: 2em;
}

form div.ccaContent .ccaDatePickerWrapper
{
  margin: .5em 0 .5em .5em;
}

form div.ccaContent .ccaFileUpload
{
  margin: .5em;
}

form div.ccaContent .ccaListingSeparatorBar
{
  height: 0.25em;
}

form div.ccaContent div.ccaSubmissionLink
{
  margin: .5em 0;
  text-align: right;
}

/* Login Header */

form div.ccaContent .divLoggedInHeader
{
  border-bottom: solid 1px #DEDEDE;
}

form div.ccaPrintView div.ccaContent .divLoggedInHeader
{
  display: none;
}

form div.ccaContent .divLoggedInHeader .ccaWelcome
{
  display: inline-block;
  width: 70%;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
}

form div.ccaContent .divLoggedInHeader .ccaWelcome .ccaLabel
{
  margin: 0;
  padding: 0;
}

form div.ccaContent .divLoggedInHeader .ccaLogout
{
  display: inline-block;
  width: 30%;
  text-align: right;
  padding: 0;
  vertical-align: middle;
}

form div.ccaContent .divLoggedInHeader .ccaLogout .ccalnkbtnLogout,
form div.ccaContent .divLoggedInHeader .ccaLogout .ccaChangePwd
{
  font-size: .857em;
}

form div.ccaContent .divLoggedInHeader .ccaLogout .ccaHelp
{
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;
}

form div.ccaContent .divLoggedInHeader .ccaLogout .ccaHelp .ccaIcon
{
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  background-color: #0056A3;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

form div.ccaContent .divLoggedInHeader .ccaLogout .ccaAcctSettings
{
  margin-left: 1em;
}

form div.ccaContent .divLoggedInHeader .ccaMemId2
{
  display: inline-block;
  width: 50%;
}

form div.ccaContent .divLoggedInHeader .ccaMemId2 .ccaLabel
{
  margin: 0;
  padding: 0;
}

form div.ccaContent .divLoggedInHeader .ccaEregCart,
form div.ccaContent .divMemLoggedInHeader .ccaMakeAPmt,
form div.ccaContent .divRepLoggedInHeader .ccaMakeAPmt
{
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: right;
}

form div.ccaContent .divLoggedInHeader .ccaEregCart .ccaButtonStandard
{
  display: inline-block;
}

/* End Login Header*/

/* Login Header for submission forms */

form div.ccaContent .ccaLoginHeader
{
  width: 95%;
}

form div.ccaContent .ccaLoginHeader .ccaRepName,
form div.ccaContent .ccaLoginHeader .ccaMemId2
{
  font-weight: bold;
}

/* End Login Header for submission forms */

/* Captcha */

form div.ccaContent .ccaCaptcha .ccaImg img
{
  padding: .5em 0 0 .5em;
  vertical-align: top;
}

form div.ccaContent .ccaCaptcha .ccaImg .ccaButtonStandard
{
  margin-top: .5em;
  display: inline-block;
  max-height: 42px;
}

form div.ccaContent .ccaCaptcha .ccaImg .ccaButtonStandard .fa-refresh
{
  font-size: 1.5em;
}

form div.ccaContent .ccaCaptcha .ccaInstructions
{
  padding: 0 0 0 .5em;
}

/* End Captcha */

/* Show Hide */

form div.ccaContent .ccaShowHideHeader
{
  background: linear-gradient(#FAFAFA,#f0f0f0);
  padding: .5em .75em;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

form div.ccaContent .ccaShowHideHeaderLabel
{
  display: inline-block;
  color: #333333;
  width: calc(100% - 18px);
  text-align: center;
}

form div.ccaContent .ccaShowHideHeaderArrowDown,
form div.ccaContent .ccaShowHideHeaderArrowUp
{
  display: inline-block;
	font-size: 16px;
}

form div.ccaContent .ccaShowHideHeaderArrowDown .fa,
form div.ccaContent .ccaShowHideHeaderArrowUp .fa
{
  color: #9C9A99;
	font-size: 16px;
}

form div.ccaContent .ccaShowHideHeaderArrowDown .fa-chevron-up,
form div.ccaContent .ccaShowHideHeaderArrowUp .fa-chevron-down
{
  display: none;
}
	
form div.ccaContent .ccaShowHideHidden
{
  display: none;
}

/* End Show Hide */

form div.ccaContent .ccaPoweredBy
{
  width: 100%;
  text-align: center;
  margin: 3em 0 .5em;
}

form div.ccaContent div.ccaQuickLinks
{
  width: 100%;
  text-align: center;
  margin: 1em .5em .5em .5em;
}

form div.ccaContent div.ccaQuickLinks a.ccaQuickLink
{
  margin: .5em 1em;
}

form div.ccaContent input, form div.ccaContent select 
{
  background: #FFFFFF;
  color: #333333;
}

form div.ccaContent .fa
{
  font-family: FontAwesome;
}

form div.ccaContent span[style^="font-size"] *
{
  font-size: inherit;
}

form div.ccaContent span[style^="color"] *
{
  color: inherit;
}